<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developerspace.webrtcsample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--Optional permissions-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- For devices running Android 12 (API level 32) or higher and integrating Agora Video SDK version v4.1.0 or lower, you also need to add the following permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- For Android 12.0 or higher, the following permissions are also required -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:name=".SwapMindApp"
        android:allowBackup="false"
        android:forceDarkAllowed="false"
        android:icon="@drawable/swap_mind_new_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/swap_mind_new_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebRTCSample">
        <activity
            android:name=".compose.ComposeMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".legacy.SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.WebRTCSample" />
        <activity
            android:name=".legacy.LaunchActivity"
            android:exported="true"
            android:theme="@style/Theme.WebRTCSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".legacy.ChatMainActivity"
            android:exported="false"
            android:theme="@style/Theme.WebRTCSample" />
        <activity
            android:name=".legacy.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".legacy.activeUsers.ui.ActiveUserActivity"
            android:label="Active Users"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WebRTCSample" />

        <activity
            android:name=".streaming.StreamingActivity"
            android:exported="false"
            android:theme="@style/Theme.WebRTCSample" />

        <service
            android:name=".compose.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.dwarsh.webrtcsample.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>